<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>dada.base.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>dada.bodies copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>dada.bodies.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>dada.bounce.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>dada.catart copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>dada.catart.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>dada.graph.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>dada.kaleido.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>dada.life.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>dada.machines.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>dada.match copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>dada.match.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>dada.nodes copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>dada.nodes.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>dada.platform.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>dada.rhythmogram.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>dada.segment.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>dada.seq~ copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>dada.seq~.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>dada.sphinx~.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>dada.stage.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>dada.terrain~ copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>dada.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ears.tag.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>lib_dada.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E045A2A1AEE91D600A1F2B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E0E009D1B134C9500F88916</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E103D4B1B42D031007630A3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E11031C1CFDE69A00E71F0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E2A3AC71DBF55D40009CF52</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E36335619D8297700D52726</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E43458E197D2C04007DB98F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E4B94C119F2F13A00584112</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E4B99DA1C39F2410043EE55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E4ECD2A1D4E1810002FEA2A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E5399061D43ECE100439855</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E53FB511BA0767400FF1F3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E53FCE4198FAE02006333EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E56408519FB096900394A62</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E5AF1611997DA4D00CE6392</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E73404F1AF3A06800B9F6CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E7850FF1AF294220079E361</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E8914151EFDB906009EBADE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E8CCB4419B7E04E002D2CB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E970A511C087B7F00BE6197</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EA0FE691B36C55700A9AA55</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EA5950019767DA700D3BFFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1ED9C9A3190D11F2001973B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1ED9C9B0190D1224001973B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EE2A7561982FDEE00B335ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
